.register-container{
    padding-top: 50px;
    min-height: 95vh;
    height: fit-content;
    width: 100%;
    background-image: url('/assets/register-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-family: "Josefin Sans", sans-serif;
}


.register-form{
    margin: 0% 3% 0;
    width: 44%;
    height: 88vh;
    background-color: rgba(205, 205, 205, 0.7);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}

.go-back{
    position: absolute;
    top: 3%;
    left: 2%;
    /* background-color: rgba(154, 154, 154, 0.7); */
    padding: 8px;
    border-radius: 10px;
}
.go-back:hover{
    background-color: rgb(154, 154, 154);
}
.go-back a {

}
.go-back a img{
    width: 45px;
    height: 45px;
}

.register-form h1{
    width: 100%;
    text-align: center;
    color: rgb(44, 44, 44);
    font-size: 40px;
}
.register-form label{
    width: 70%;
    color: rgb(44, 44, 44);
    font-size: 22px;
    font-weight: 600;
}
.register-form input{
    width: 70%;
    margin-bottom: 5%;
    color: rgb(44, 44, 44);
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    padding: 8px 15px;
}
.register-form input:focus{
    outline: none;
}
.register-form .register-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.register-form .register-btn button{
    margin-top: 2%;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
}
.register-form .register-btn button:hover{
    background-color: white;
}
.error-message{
    width: 100%;
    text-align: center;
    margin-top: 0;
    color: red;
    font-size: 17px;
}