<div class="footer-container">
    <div class="footer-left">
        <ul>
            <li>
                <img src="/assets/location-sign.png"/>
                <p>Vinhomes Grand Park</p>
            </li>
            <li>
                <img src="/assets/phone-call.png"/>
                <p>09031309408</p>
            </li>
            <li>
                <img src="/assets/email.png"/>
                <p>vintse171747@fpt.edu.vn</p>
            </li>
        </ul>
    </div>
    <div class="footer-right">
        <p>About Luxury Watch</p>
        <p>Welcome to the classy website that specializes in introducing the world's most luxurious watches. Here, you will discover exquisite watch collections from famous brands, demonstrating outstanding luxury and class. We provide a platform for you to not only admire but also share your feelings and reviews about each product. Join the community of high-end watch lovers and exchange your passion and knowledge about the art of time.</p>
    </div>
</div>