table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.container{
    width: 101.2%;
    margin-top: -0.8%;
    margin-left: -0.8%;
    height: calc(100vh + 10px);
    display: flex !important;
    font-family: "Josefin Sans", sans-serif;
    background-color: #F3F6FF;
}

.left{
    width: 20%;
    height: auto;
    background-color: #202531;
    padding-top: 1%;
}
.highlight {
    background-color: #3e5486; 
    color: black;     
}
.left ul {
    list-style-type: none;
    padding-inline-start: 0 !important;
}
.left ul li {
    padding: 10px 0 10px 30px;
    margin-bottom: 5px;
    border-radius: 25px;
    cursor: pointer;
}
.left ul li:hover{
    background-color: #3e5486;
}
.left ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.right {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

/* admin */
.admin-container{
    margin-top: 5%;
}

/* get-brand */
.get_brand-container{
    width: 90%;
    height: fit-content;
    background-color: white;
    margin-top: 5%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
}
.get_brand-btn{
    width: 90%;
    margin-bottom: 2%;
    display: flex;
    justify-content: end;
}
.get_brand-btn button{
    border-radius: 25px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}
.get_brand-btn button a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}
.get_brand-btn button:hover{
    background-color: lightgray;
}

.get_brand-table{
    width: 90%;
}
.get_brand-th{
    text-align: start;
    padding: 10px;
}
.get_brand-td{
    padding: 5px 10px;
}


.create_brand-container{
    margin-top: 5%;
    width: 90%;
}
.create_brand-container .go_back-btn{
    margin-top: -2%;
    margin-bottom: 4%;
}
.create_brand-container .go_back-btn a {
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(159, 204, 244);
    border-radius: 25px;
}
.create_brand-container .go_back-btn a:hover{
    background-color: #63697a;
}
.create_brand-container form label{
    font-size: 25px;
}
.create_brand-container form input{
    width: 70%;
    margin-left: 2%;
    padding: 10px;
    border: 3px solid #dae2f9;
    border-radius: 20px;
    font-size: 20px;
}
.create_brand-container form p {
    font-size: 17px;
    color: red;
    margin: 0 0 2%;
    padding-left: 20%;
}
.create_brand-container form button{
    border-radius: 25px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
}
.create_brand-container form button:hover{
    background-color: lightgray;
}


.edit_brand-container {
    margin-top: 5%;
    width: 90%;
}
.edit_brand-container .go_back-btn{
    margin-top: -2%;
    margin-bottom: 4%;
}
.edit_brand-container .go_back-btn a {
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(159, 204, 244);
    border-radius: 25px;
}
.edit_brand-container .go_back-btn a:hover{
    background-color: #63697a;
}
.edit_brand-container form label{
    font-size: 25px;
}
.edit_brand-container form input{
    width: 70%;
    margin-left: 2%;
    padding: 10px;
    border: 3px solid #dae2f9;
    border-radius: 20px;
    font-size: 20px;
}
.edit_brand-container form p {
    font-size: 17px;
    color: red;
    margin: 0 0 2%;
    padding-left: 20%;
}
.edit_brand-container form button{
    border-radius: 25px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
}
.edit_brand-container form button:hover{
    background-color: lightgray;
}