.member_info-container {
    margin-top: 5%;
    width: 90%;
}

.member_info-container .go-to-edit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}
.member_info-container .go-to-edit a {
  
}
.member_info-container .go-to-edit a img{
    width: 40px;
    height: 40px;
}

.change-password{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.member_info-container form label{
    width: 20%;
    font-size: 25px;
}

.member_info-container form input{
    width: 70%;
    margin-left: 2%;
    padding: 10px;
    border: 3px solid #dae2f9;
    border-radius: 20px;
    font-size: 20px;
}
.member_info-container form input:focus{
    outline: none;
}

.member_info-container form p {
    font-size: 17px;
    color: red;
    margin: 2% 4%;
    padding-left: 20%;
}

.member_info-container form button{
    border-radius: 25px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
}
.member_info-container form button:hover{
    background-color: lightgray;
}