<div class="member_info-container">
    <form action="/change-password/<%= memberId %>" method="POST">
        <div class="change-password">
            <label for="currentPassword">Current Password:</label>
            <input type="password" name="currentPassword" required/>
        </div>
        <div class="change-password">
            <label for="newPassword">New Password:</label>
            <input type="password" name="newPassword" required />
        </div>
        <div class="change-password">
            <label for="confirmNewPassword">Confirm New Password:</label>
            <input type="password" name="confirmNewPassword" required/>
        </div>
        <% if (errorMessage) { %>
            <p><%= errorMessage %></p>
        <% } %>
        <button type="submit">Change Password</button>
    </form>
</div>